/* SLIDER CSS */


/* Reset Css */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/*	SLIDER IMPLEMENTATION 	*/



body{
	background-color: #ccc;
	font-size:  100%;	
	width:100%;
	font-family: Arial, "Times New Roman", Georgia, Serif;
	margin: 50px auto;
  	overflow-x: hidden;
}

body {
  font-size: 100%; }
  @media (min-width: 36em) {
    body {
      font-size: 110%; } }
  @media (min-width: 58em) {
    body {
      font-size: 170%; } }
  @media (min-width: 86em) {
    body {
      font-size: 230%; } }
  @media (min-width: 115em) {
    body {
      font-size: 280%; } }
  @media (min-width: 125em) {
    body {
      font-size: 340%; } }
  @media (min-width: 145em) {
    body {
      font-size: 480%; } }


.slides{
	box-sizing: border-box;
	border: 1px solid #999;	
	margin: 10px auto;
}

.respondInput.desktop:checked ~ .slides{	
	max-width: 960px;	/* 60em = 960px*/	
}

.respondInput.tablet:checked ~ .slides{	
	max-width: 850px;	/* 850 px */		
}

.respondInput.mobile:checked ~ .slides{	
	max-width: 450px;	/* 450px */
}

@media only screen and (min-width: 960px) {
	.slides{
		/*color: red;*/
	}
}

@media only screen and (max-width: 960px) and (min-width: 450px) {
	.slides{	
		/*color:blue;*/
	}
}

@media only screen and (max-width: 450px){
	.slides{		
		/*color:green;*/
	}
}

/* Slider Grows or Shrinks when clicked on the Desktop, Mobile, Tablet icons. Do nice animation when they grow or shrink */
.slider{
	margin: 0 auto;
    max-width: 960px;
}

.slider, .slides{
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}


/* Normal CSS */
.hide{
	display: none;
}

.respond{
	text-align: center;
}

.respond label {
    display: inline-flex;
    margin: 12px;
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
}

.respond img {
    display: inline-block;
}

.respondLabel{
	display: inline-block;
	float: left;	
}











































